<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>
    <add name="ProjectDB" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename='C:\Users\Shashank\Desktop\CodeChef Project\Database\ProjectDB.mdf';Integrated Security=True;Connect Timeout=30"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <httpRuntime requestValidationMode="2.0"/>
  </system.web>
  <appSettings>
    <add key="com.ideone.Ideone_Service_v1" value="http://ideone.com/api/1/service"/>
  </appSettings>
</configuration>